.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.mainIngredients {
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 464px;
}

.burgerComponent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 568px;
}

.mainIngredients::-webkit-scrollbar-track
{
	background-color: #2F2F37;
    width: 8px;
    padding-top: 40px;
}

.mainIngredients::-webkit-scrollbar
{
    position: absolute;
	width: 8px;
	background-color: #2F2F37;
}

.mainIngredients::-webkit-scrollbar-thumb
{
	background-color: #8585AD;
}

.totalContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
